* text=auto
*.md text eol=lf
*.py text eol=lf
*.ps1 text eol=crlf
*.json text eol=lf
*.uplugin text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.cs text eol=lf
*.uasset binary
*.pak binary
*.zip binary
